.form {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100vh;
	padding-top: 20px;
	padding-bottom: 20px;
}

.label {
	font-family: "Courier New", Courier, monospace, sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: black;
}

.input {
	width: 300px;
	padding: 10px;
	border: none;
	border-bottom: 2px solid black;
	background-color: #e4c94b;
	outline: none;
	font-size: 20px;
}

.input::placeholder {
	color: grey;
}

.input:focus {
	background-color: #e4c94b;
}

.input:active {
	background-color: #e4c94b;
}
