.bg {
	background-color: #e4c94b; /* Żółte tło */
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	font-family: "Courier New", Courier, monospace;
}

.container {
	width: 100%;
	max-width: 800px;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	gap: 20px;
}
